body {
  display: flex;
  justify-content: center; // Justify -content centra todos los objetos en forma horizontal!!!!!
  align-items: center;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.music-player {
  width: 500px;
  height: 500px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  overflow: hidden;

  .blur {
    width: inherit;
    height: inherit;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .album-cover {
    width: 100%; // El contenedor de la imagen ocupa el 50% del contenedor más grande
    height: 50%;
    max-height: 50%;
    justify-content: center; // Centra horizontalmente la imagen
    align-items: center; // Centra verticalmente la imagen
    margin-top: 20px;




    #cover {
      width: inherit; // Ajustamos la imagen al 100% del contenedor
      height: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;



      img {
        min-width: 50%;
        max-width: 50%;
        max-height: 100%;

        border-radius: 10px;
        object-fit: cover;
        /* Mantiene la proporción y recorta la imagen para que llene el contenedor */
        transition: all 0.5s;
        box-shadow: 10px 10px 8px -2px rgba(0, 0, 0, 0.75);
      }

      img:hover {
        min-width: 50%;
        max-width: 100%;
        max-height: 100%;



      }


    }




  }




  .song-details {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;





    div {
      font-size: 16px;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
      text-align: start;
      text-wrap: nowrap;
      overflow: hidden;
      overflow: hidden;
      max-width: 80%;
    }

    .name {
      color: rgb(0, 0, 0);
      font-size: 24px;
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
      font-weight: bold;
      border: 2px solid gr;
    }

    .year {
      color: rgb(252, 252, 252);

      letter-spacing: 10px;
    }

    .autor {
      color: rgb(255, 0, 0);

      font-size: 20px;
    }
  }

  .controls {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .tiempo {

      color: white;
      font-size: 16px;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }

    .timeline {
      -webkit-appearance: none;
      width: 100%;
      height: .5em;
      background-color: #d8d8d8;
      border-radius: 5px;
      background-size: 0% 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgb(0, 229, 229), rgba(0, 255, 234, 0.763));
      margin-right: var(--space);
    }

    .timeline::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
      transition: all .1s;
      background-color: #008aad;
    }




    .timeline::-webkit-slider-thumb:hover {
      background-color: #3f9294;
    }

    .timeline:hover::-webkit-slider-thumb {
      opacity: 1;
    }

    .timeline::-moz-range-thumb:hover {
      background-color: #3f9491;
    }









    button {
      background-color: #00000064;
      color: rgb(255, 255, 255);
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
      backdrop-filter: blur(10px);

    }

    button:hover {
      color: rgb(255, 255, 255);
      background-color: #000000;
    }


    audio {
      display: none;
    }
  }
}